<div class="app-container">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                <nav class="sidebar">
                    <div class="nav-header">
                        <div class="nav-header-logant">Shoppee</div>
                    </div>
                    <div class="nav flex-column">
                        <div *ngFor="let item of navItems" (click)="handleItemClick(item)">
                            <div [ngClass]="{ 'nav-link': true, 'active': item.selected }">
                                <div class="routelink" [routerLink]="item.route">{{ item.name }}</div>
                            </div>
                        </div>
                    </div>

                </nav>
            </div>
            <div class="col-md-9 right-side">
                <header class="toolbar">
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <span class="navbar-brand">Toolbar</span>
                    </nav>
                </header>
                <div class="content">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>
</div>